# Week 2 Wednesday

## Exploring the taxis dataset

* Load the attached file `taxis.csv` using the pandas function `read_csv`.  Store the resulting DataFrame in the variable `df`.

In [ ]:
import pandas as pd
df = pd.read_csv("taxis.csv")

How many different values are there in the "pickup_borough" column?  First get the pandas Series containing that column, then
* use the `unique` method;
* use the `value_counts` method.

In [ ]:
# easiest way
col_pu = df.loc[:, 'pickup_borough'] #df['pickup_borough']
col_pu

0       Manhattan
1       Manhattan
2       Manhattan
3       Manhattan
4       Manhattan
          ...
6428    Manhattan
6429       Queens
6430     Brooklyn
6431     Brooklyn
6432     Brooklyn
Name: pickup_borough, Length: 6433, dtype: object

In [ ]:
# using iloc? which index is 'pickup_borough'
print(df.columns)
mylist = list(df.columns)
print(mylist)
mylist.index("pickup_borough")
# df.iloc[:, 12]

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')
['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls', 'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone', 'pickup_borough', 'dropoff_borough']

12

In [ ]:
# Boolean array and then use np.nonzero
df.columns == "pickup_borough"
import numpy as np
print(np.nonzero(df.columns == "pickup_borough"))
np.nonzero(df.columns == "pickup_borough")[0][0]
print(np.where(df.columns == "pickup_borough"))

(array([12]),)
(array([12]),)

In [ ]:
# Here is an example of the additional functionality. We put the string "Chris" everywhere there was a True (just one slot), and we put the string "Davis" everywhere else.
np.where(df.columns == "pickup_borough", "Yes", "No")

array(['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'Yes', 'No'], dtype='<U3')

In [ ]:
#Use the get_loc method of a pandas Index
df.columns.get_loc("pickup_borough")

12

In [ ]:
# get multiple locations at the same time
df.columns.get_indexer(["pickup_zone", "dropoff_zone",'pickup'])

array([10, 11,  0])

This gets us the distinct values which occur in the Series (including the missing value, represented as nan, which stands for “not a number”).

In [ ]:
# How many different values are there in the "pickup_borough" column?  First get the pandas Series containing that column, then
# use the unique method;

col_pu = df['pickup_borough']
col_pu.unique()
type(col_pu.unique()) #The output is a NumPy array.

array(['Manhattan', 'Queens', nan, 'Bronx', 'Brooklyn'], dtype=object)

In [ ]:
# counting how many unique values
len(col_pu.unique())

5

In [ ]:
# Notice that unique is a Series method, not a DataFrame method.
df.unique() #cause error

In [ ]:
# use the value_counts method find unique values
col_pu.value_counts() #unique values as index & counts as values

Manhattan    5268
Queens        657
Brooklyn      383
Bronx          99
Name: pickup_borough, dtype: int64

In [ ]:
len(col_pu.value_counts()) #does not include NaN values in its count

4

In [ ]:
df['pickup_borough'].value_counts(dropna=False)

Manhattan    5268
Queens        657
Brooklyn      383
Bronx          99
NaN            26
Name: pickup_borough, dtype: int64

In [ ]:
help(pd.value_counts)

Help on function value_counts in module pandas.core.algorithms:

value_counts(values, sort: 'bool' = True, ascending: 'bool' = False, normalize: 'bool' = False, bins=None, dropna: 'bool' = True) -> 'Series'
    Compute a histogram of the counts of non-null values.

    Parameters
    ----------
    values : ndarray (1-d)
    sort : bool, default True
        Sort by values
    ascending : bool, default False
        Sort in ascending order
    normalize: bool, default False
        If True then compute a relative histogram
    bins : integer, optional
        Rather than count values, group them into half-open bins,
        convenience for pd.cut, only works with numeric data
    dropna : bool, default True
        Don't include counts of NaN

    Returns
    -------
    Series

## Working with dates in pandas

* Convert the "pickup" and "dropoff" columns to datetime values, using the pandas function `to_datetime`.  Save the results as new columns in `df`, named "picktime" and "droptime".

In [ ]:
df[["pickup","dropoff"]]

                   pickup              dropoff
0     2019-03-23 20:21:09  2019-03-23 20:27:24
1     2019-03-04 16:11:55  2019-03-04 16:19:00
2     2019-03-27 17:53:01  2019-03-27 18:00:25
3     2019-03-10 01:23:59  2019-03-10 01:49:51
4     2019-03-30 13:27:42  2019-03-30 13:37:14
...                   ...                  ...
6428  2019-03-31 09:51:53  2019-03-31 09:55:27
6429  2019-03-31 17:38:00  2019-03-31 18:34:23
6430  2019-03-23 22:55:18  2019-03-23 23:14:25
6431  2019-03-04 10:09:25  2019-03-04 10:14:29
6432  2019-03-13 19:31:22  2019-03-13 19:48:02

[6433 rows x 2 columns]

In [ ]:
#a smaller example how the pd.to_datetime function works
today = "Oct 11, 2023"
type(today)
ts = pd.to_datetime(today)
print(ts)
print(ts.day_of_year)
print(ts.day_name()) #Parentheses

2023-10-11 00:00:00
284
Wednesday

In [ ]:
#ts.day_of_year?
help(ts.day_name)

Help on built-in function day_name:

day_name(...) method of pandas._libs.tslibs.timestamps.Timestamp instance
    Return the day name of the Timestamp with specified locale.

    Parameters
    ----------
    locale : str, default None (English locale)
        Locale determining the language in which to return the day name.

    Returns
    -------
    str

In [ ]:
ts = pd.to_datetime(df["pickup"])
ts

0      2019-03-23 20:21:09
1      2019-03-04 16:11:55
2      2019-03-27 17:53:01
3      2019-03-10 01:23:59
4      2019-03-30 13:27:42
               ...
6428   2019-03-31 09:51:53
6429   2019-03-31 17:38:00
6430   2019-03-23 22:55:18
6431   2019-03-04 10:09:25
6432   2019-03-13 19:31:22
Name: pickup, Length: 6433, dtype: datetime64[ns]

In [ ]:
df["picktime"] = pd.to_datetime(df["pickup"])
df["droptime"] = pd.to_datetime(df["dropoff"])
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,picktime,droptime
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,2019-03-23 20:21:09,2019-03-23 20:27:24
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,2019-03-04 16:11:55,2019-03-04 16:19:00
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,2019-03-27 17:53:01,2019-03-27 18:00:25
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,2019-03-10 01:23:59,2019-03-10 01:49:51
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,2019-03-30 13:27:42,2019-03-30 13:37:14

* Make a new column, "day", containing the day of the week of the pickup.  Use the accessor `dt` and then the method `day_name`.

If we try to call day_name on the Series directly, even though it contains datetime values, we get an error. We need to use the dt accessor to apply these kind of methods to the entries in the Series.

In [ ]:
df["picktime"].day_name()

AttributeError: 'Series' object has no attribute 'day_name'

the `.dt` accessor is used with pandas Series objects to access properties and methods specific to dates and times.

In [ ]:
df["day"] = df["picktime"].dt.day_name()
df["day"]

0        Saturday
1          Monday
2       Wednesday
3          Sunday
4        Saturday
          ...
6428       Sunday
6429       Sunday
6430     Saturday
6431       Monday
6432    Wednesday
Name: day, Length: 6433, dtype: object

* Make a new column "duration" containing the amount of time the ride took.  (Now that pandas recognizes these as dates, you can just subtract.)

Let’s remind ourselves what columns are available. The ones we want to use are near the end.

In [ ]:
df.columns

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough', 'picktime', 'droptime', 'day'],
      dtype='object')

This sort of subtraction of times would never work if we hadn’t converted them to datetime types using pd.to_datetime.

In [ ]:
df["duration"] = df["droptime"] - df["picktime"]
df["duration"]

0      0 days 00:06:15
1      0 days 00:07:05
2      0 days 00:07:24
3      0 days 00:25:52
4      0 days 00:09:32
             ...
6428   0 days 00:03:34
6429   0 days 00:56:23
6430   0 days 00:19:07
6431   0 days 00:05:04
6432   0 days 00:16:40
Name: duration, Length: 6433, dtype: timedelta64[ns]

Here we check out the first three rows and first two columns. Does the top row look like a 6 minute taxi ride? Yes, because it went from 8:21pm to 8:27pm.

Remember that .loc includes both the start and the end of the slice, while .iloc includes the start but excludes the end.

In [ ]:
df.iloc[:3, :2]

                pickup              dropoff
0  2019-03-23 20:21:09  2019-03-23 20:27:24
1  2019-03-04 16:11:55  2019-03-04 16:19:00
2  2019-03-27 17:53:01  2019-03-27 18:00:25

* What are the data types of these four columns we just made?

When you see “delta”, you should usually think “difference”, and that’s exactly what this column represents.

In [ ]:
df.dtypes

pickup                      object
dropoff                     object
passengers                   int64
distance                   float64
fare                       float64
tip                        float64
tolls                      float64
total                      float64
color                       object
payment                     object
pickup_zone                 object
dropoff_zone                object
pickup_borough              object
dropoff_borough             object
picktime            datetime64[ns]
droptime            datetime64[ns]
day                         object
duration           timedelta64[ns]
dtype: object

## Working with strings in pandas

* How many rows in `df` have the word "Airport" in either the "pickup_zone" column or the "dropoff_zone" column?  Do any rows have the word "Airport" in both columns?

Use the `str` accessor and the `contains` method.

In [ ]:
df["pickup_zone"][:3] # check out the first three entries in the “pickup_zone” column

0          Lenox Hill West
1    Upper West Side South
2            Alphabet City
Name: pickup_zone, dtype: object

Here is an example of how str.contains works. Only the middle of these three contains the substring "South", so we get False then True then False.

In [ ]:
#.str accessor is used with Series objects to access methods and properties specific to string data.
df["pickup_zone"][:3].str.contains("South")

0    False
1     True
2    False
Name: pickup_zone, dtype: bool

In [ ]:
ps = df["pickup_zone"].str.contains("Airport")
ds = df["dropoff_zone"].str.contains("Airport")
df[ps | ds] #logical or is made using a vertical bar
#df[ps & ds]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,picktime,droptime,day,duration
10,2019-03-16 10:02:25,2019-03-16 10:22:29,1,3.90,17.00,0.00,0.00,17.80,yellow,cash,LaGuardia Airport,Astoria,Queens,Queens,2019-03-16 10:02:25,2019-03-16 10:22:29,Saturday,0 days 00:20:04
22,2019-03-28 17:20:54,2019-03-28 17:55:57,1,9.82,31.50,8.31,5.76,49.87,yellow,credit card,LaGuardia Airport,Sutton Place/Turtle Bay North,Queens,Manhattan,2019-03-28 17:20:54,2019-03-28 17:55:57,Thursday,0 days 00:35:03
43,2019-03-27 19:39:16,2019-03-27 20:00:26,1,9.50,28.00,0.00,5.76,35.06,yellow,cash,LaGuardia Airport,Washington Heights South,Queens,Manhattan,2019-03-27 19:39:16,2019-03-27 20:00:26,Wednesday,0 days 00:21:10
53,2019-03-20 18:49:24,2019-03-20 19:12:40,1,13.45,36.00,0.00,0.00,37.80,yellow,cash,JFK Airport,Sunnyside,Queens,Queens,2019-03-20 18:49:24,2019-03-20 19:12:40,Wednesday,0 days 00:23:16
56,2019-03-05 17:57:00,2019-03-05 18:45:25,2,19.59,52.00,0.00,5.76,65.56,yellow,credit card,JFK Airport,Upper East Side North,Queens,Manhattan,2019-03-05 17:57:00,2019-03-05 18:45:25,Tuesday,0 days 00:48:25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6243,2019-03-12 11:40:49,2019-03-12 11:49:23,1,3.50,12.00,0.00,0.00,12.80,green,cash,Steinway,LaGuardia Airport,Queens,Queens,2019-03-12 11:40:49,2019-03-12 11:49:23,Tuesday,0 days 00:08:34
6280,2019-03-27 12:25:04,2019-03-27 12:31:15,1,2.74,10.00,0.00,0.00,10.80,green,credit card,Steinway,LaGuardia Airport,Queens,Queens,2019-03-27 12:25:04,2019-03-27 12:31:15,Wednesday,0 days 00:06:11
6322,2019-03-01 17:03:11,2019-03-01 17:17:11,1,5.39,17.00,3.76,0.00,22.56,green,credit card,Jamaica,JFK Airport,Queens,Queens,2019-03-01 17:03:11,2019-03-01 17:17:11,Friday,0 days 00:14:00
6396,2019-03-15 17:44:09,2019-03-15 18:20:25,1,11.44,41.63,0.00,0.00,42.13,green,credit card,Bushwick South,LaGuardia Airport,Brooklyn,Queens,2019-03-15 17:44:09,2019-03-15 18:20:25,Friday,0 days 00:36:16
6398,2019-03-17 13:07:29,2019-03-17 13:51:56,1,18.39,50.50,7.70,0.00,59.00,green,credit card,DUMBO/Vinegar Hill,JFK Airport,Brooklyn,Queens,2019-03-17 13:07:29,2019-03-17 13:51:56,Sunday,0 days 00:44:27

## Missing values in pandas

* Look at `df.info()` again.  Which columns have missing values?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   object
 1   dropoff          6433 non-null   object
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
 14  picktime         6433 non-null   datetime64[ns]
 15  droptime         6433 non-null   datetime64[ns]
 16  day              6433 non-null   object
 17  duration         6433 non-null   timedelta64[ns]
dtypes: datetime64[ns](2), float64(5), int64(1), object(9), timedelta64[ns](1)
memory usage: 904.8+ KB

* Define `df_sub` to be the sub-DataFrame containing all the rows for which the "pickup_zone" entry is missing.  Use the `isna` method.

In [ ]:
df_sub = df[df["pickup_zone"].isna()] #df[df["pickup_zone"].isnull()] also work
df_sub

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,picktime,droptime,day,duration
42,2019-03-30 23:59:14,2019-03-30 23:59:17,1,0.00,80.0,20.08,0.00,100.38,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-30 23:59:14,2019-03-30 23:59:17,Saturday,0 days 00:00:03
606,2019-03-19 15:04:40,2019-03-19 15:06:15,1,0.40,3.5,1.35,0.00,8.15,yellow,credit card,NaN,Upper East Side South,NaN,Manhattan,2019-03-19 15:04:40,2019-03-19 15:06:15,Tuesday,0 days 00:01:35
622,2019-03-12 19:52:36,2019-03-12 19:52:55,3,0.00,120.0,33.20,12.50,166.00,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-12 19:52:36,2019-03-12 19:52:55,Tuesday,0 days 00:00:19
671,2019-03-09 22:45:46,2019-03-09 22:46:50,1,0.40,3.5,0.00,0.00,7.30,yellow,cash,NaN,Lincoln Square East,NaN,Manhattan,2019-03-09 22:45:46,2019-03-09 22:46:50,Saturday,0 days 00:01:04
712,2019-03-03 01:24:45,2019-03-03 01:29:32,1,0.80,5.0,1.75,0.00,10.55,yellow,credit card,NaN,West Chelsea/Hudson Yards,NaN,Manhattan,2019-03-03 01:24:45,2019-03-03 01:29:32,Sunday,0 days 00:04:47
970,2019-03-29 00:02:00,2019-03-29 00:02:05,2,0.00,45.0,5.00,0.00,50.30,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-29 00:02:00,2019-03-29 00:02:05,Friday,0 days 00:00:05
1108,2019-03-10 09:33:13,2019-03-10 09:52:04,1,13.40,52.0,11.70,5.76,70.26,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-10 09:33:13,2019-03-10 09:52:04,Sunday,0 days 00:18:51
1961,2019-03-19 16:43:59,2019-03-19 17:37:22,1,17.82,52.0,13.11,5.76,78.67,yellow,credit card,NaN,Garment District,NaN,Manhattan,2019-03-19 16:43:59,2019-03-19 17:37:22,Tuesday,0 days 00:53:23
2137,2019-03-08 13:27:32,2019-03-08 13:46:23,1,1.40,12.0,3.05,0.00,18.35,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-08 13:27:32,2019-03-08 13:46:23,Friday,0 days 00:18:51
2742,2019-03-23 06:20:27,2019-03-23 06:20:59,1,0.00,55.0,0.00,0.00,55.80,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-23 06:20:27,2019-03-23 06:20:59,Saturday,0 days 00:00:32
3085,2019-03-24 15:43:02,2019-03-24 16:02:57,1,3.20,14.5,0.00,0.00,15.30,yellow,cash,NaN,NaN,NaN,NaN,2019-03-24 15:43:02,2019-03-24 16:02:57,Sunday,0 days 00:19:55
3259,2019-03-30 00:39:09,2019-03-30 00:43:34,1,0.84,5.0,1.70,0.00,10.50,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-30 00:39:09,2019-03-30 00:43:34,Saturday,0 days 00:04:25
3644,2019-03-19 23:30:50,2019-03-19 23:32:33,2,0.00,103.0,20.65,0.00,123.95,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-19 23:30:50,2019-03-19 23:32:33,Tuesday,0 days 00:01:43
3793,2019-03-24 06:07:30,2019-03-24 06:12:22,1,1.50,6.5,0.00,0.00,9.80,yellow,NaN,NaN,Midtown East,NaN,Manhattan,2019-03-24 06:07:30,2019-03-24 06:12:22,Sunday,0 days 00:04:52
3889,2019-03-30 06:42:55,2019-03-30 06:43:00,1,0.00,2.5,0.00,0.00,3.30,yellow,cash,NaN,NaN,NaN,NaN,2019-03-30 06:42:55,2019-03-30 06:43:00,Saturday,0 days 00:00:05
4118,2019-03-15 14:01:54,2019-03-15 14:01:59,1,0.00,25.0,5.06,0.00,30.36,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-15 14:01:54,2019-03-15 14:01:59,Friday,0 days 00:00:05
4127,2019-03-01 05:18:21,2019-03-01 05:18:30,2,0.04,2.5,0.00,0.00,3.80,yellow,cash,NaN,NaN,NaN,NaN,2019-03-01 05:18:21,2019-03-01 05:18:30,Friday,0 days 00:00:09
4281,2019-03-18 23:29:49,2019-03-18 23:38:00,1,2.10,9.0,2.06,0.00,12.36,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-18 23:29:49,2019-03-18 23:38:00,Monday,0 days 00:08:11
4414,2019-03-29 20:42:47,2019-03-29 21:03:50,1,4.20,17.0,4.80,5.76,28.86,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-29 20:42:47,2019-03-29 21:03:50,Friday,0 days 00:21:03
4772,2019-03-21 19:51:13,2019-03-21 19:57:03,1,0.72,5.5,1.46,0.00,8.76,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-21 19:51:13,2019-03-21 19:57:03,Thursday,0 days 00:05:50
4941,2019-03-01 08:12:28,2019-03-01 08:17:19,1,0.83,5.0,2.50,0.00,10.80,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-01 08:12:28,2019-03-01 08:17:19,Friday,0 days 00:04:51
5263,2019-03-09 20:37:53,2019-03-09 21:07:20,1,4.99,22.0,5.16,0.00,30.96,yellow,credit card,NaN,NaN,NaN,NaN,2019-03-09 20:37:53,2019-03-09 21:07:20,Saturday,0 days 00:29:27
5493,2019-03-06 12:14:00,2019-03-06 12:14:00,1,0.00,10.0,0.00,0.00,10.00,green,credit card,NaN,NaN,NaN,NaN,2019-03-06 12:14:00,2019-03-06 12:14:00,Wednesday,0 days 00:00:00
5624,2019-03-11 14:04:50,2019-03-11 14:04:50,1,0.00,2.5,0.00,0.00,3.30,green,cash,NaN,NaN,NaN,NaN,2019-03-11 14:04:50,2019-03-11 14:04:50,Monday,0 days 00:00:00
5638,2019-03-13 12:22:00,2019-03-13 12:22:00,1,0.00,10.0,0.00,0.00,10.00,green,credit card,NaN,NaN,NaN,NaN,2019-03-13 12:22:00,2019-03-13 12:22:00,Wednesday,0 days 00:00:00
6083,2019-03-19 15:34:00,2019-03-19 15:34:00,1,0.00,5.0,0.00,0.00,5.00,green,credit card,NaN,NaN,NaN,NaN,2019-03-19 15:34:00,2019-03-19 15:34:00,Tuesday,0 days 00:00:00

In [ ]:
#"pickup_zone" entry is not missing,
#boolean indexing : selcect the rows (loc row or column)
df[df["pickup_zone"].notna()]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough,picktime,droptime,day,duration
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan,2019-03-23 20:21:09,2019-03-23 20:27:24,Saturday,0 days 00:06:15
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan,2019-03-04 16:11:55,2019-03-04 16:19:00,Monday,0 days 00:07:05
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan,2019-03-27 17:53:01,2019-03-27 18:00:25,Wednesday,0 days 00:07:24
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan,2019-03-10 01:23:59,2019-03-10 01:49:51,Sunday,0 days 00:25:52
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan,2019-03-30 13:27:42,2019-03-30 13:37:14,Saturday,0 days 00:09:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan,2019-03-31 09:51:53,2019-03-31 09:55:27,Sunday,0 days 00:03:34
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx,2019-03-31 17:38:00,2019-03-31 18:34:23,Sunday,0 days 00:56:23
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn,2019-03-23 22:55:18,2019-03-23 23:14:25,Saturday,0 days 00:19:07
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn,2019-03-04 10:09:25,2019-03-04 10:14:29,Monday,0 days 00:05:04
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn,2019-03-13 19:31:22,2019-03-13 19:48:02,Wednesday,0 days 00:16:40

* What if you tried to check for equality with `np.nan`?

In [ ]:
df[df["pickup_zone"] == np.nan] #empty

Empty DataFrame
Columns: [pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough, picktime, droptime, day, duration]
Index: []

In [ ]:
np.nan == np.nan # not equal to itself

False

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=47af4f37-99f4-44c3-aaa4-89ed7dd2f67c' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>